<div class="container">
  <form #photoForm="ngForm"
        (ngSubmit)="photoForm.form.valid && submitForm()"
        name="photoForm">

    <div class="form-group">
      <label for="name">{{ 'photo.form.name.label' | translate }} </label>
      <input type="text"
             id="name"
             name="name"
             class="form-control"
             required
             maxlength="50"
             [pattern]=RegexConstants.LETTERS_NUMBERS_SPACES_REGEX
             #name="ngModel"
             [(ngModel)]="model.name">
      <div [hidden]="name.valid || name.pristine" class="errorMessage">
        {{ 'photo.form.name.error' | translate }}
      </div>
    </div>

    <app-image-input-preview (imageUpload)="updateImageFile($event)"/>

    <div class="form-group">
<!--      <app-tag-input (tagsChange)="updateTags($event)"/>-->
      <app-tag-input [tagList]="model.tags"></app-tag-input>
    </div>

    <div class="form-group">
      <label for="description"> {{ 'photo.form.description.label' | translate }} </label>
      <input type="text"
             id="description"
             name="description"
             class="form-control"
             [(ngModel)]="model.description">
    </div>

    <div class="form-group">
      <button type="submit" [disabled]="!photoForm.form.valid">
        {{ 'photo.buttons.upload.photo' | translate }}
      </button>
    </div>
  </form>
</div>
