<div class="container">
  <form #photoForm="ngForm"
        (ngSubmit)="photoForm.form.valid && submitForm()"
        name="photoForm">

    <div class="form-group">
      <label for="name">{{ 'photo.form.name.label' | translate }} </label>
      <input type="text"
             id="name"
             name="name"
             class="form-control"
             required
             maxlength="50"
             [pattern]=RegexConstants.LETTERS_NUMBERS_SPACES_REGEX
             #name="ngModel"
             [(ngModel)]="model.name">
      <div [hidden]="name.valid || name.pristine" class="errorMessage">
        {{ 'photo.form.name.error' | translate }}
      </div>
    </div>

    <div class="form-group">
      <label for="files"> {{ 'photo.form.image.label' | translate }} </label>
      <input type="file"
             id="files"
             name="image"
             class="form-control"
             required
             appImageValidator
             #image="ngModel"
             (change)="uploadImage($event)"
             [(ngModel)]="inputFilePathName"
      >

      <div [hidden]="image.valid || image.pristine" class="errorMessage">
        {{ 'photo.form.image.error' | translate }}
      </div>
      @if (model.image && image.valid) {
        <div class="imageContainer">
          <h1> {{ 'photo.form.preview' | translate }} </h1>
          <img [src]="previewImageBase64" alt="input image" class="preview-image">
        </div>
      }

    </div>

    <div class="form-group">
      <app-tag-input (tagsChange)="updateTags($event)"/>
    </div>

    <div class="form-group">
      <label for="description"> {{ 'photo.form.description.label' | translate }} </label>
      <input type="text"
             id="description"
             name="description"
             class="form-control"
             [(ngModel)]="model.description">
    </div>

    <div class="form-group">
      <button type="submit" [disabled]="!photoForm.form.valid">
        {{ 'photo.buttons.upload.photo' | translate }}
      </button>
    </div>
  </form>
</div>
