<div class="container text-start">
  <div class="row">
    <div class="col">
      <h1>{{ 'photo.name' | translate }} {{ photoResponse.name }}</h1>
    </div>
    <div class="col">
      <h2>{{ 'photo.upload.date' | translate }} {{ photoResponse.uploadDateTime }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button
        class="delete-button"
        (click)="deletePhoto()">
        DELETE
      </button>
    </div>
    <div class="col">
      <button
        (click)="editPhoto()">
        EDIT
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img appImagePlaceholder [src]="imageSrc">
    </div>
  </div>


  <div class="row">
    <div class="col">
      <h2>{{ 'photo.tags' | translate }}</h2>
    </div>

    <div class="row">
      @for (tag of photoResponse.tags; track tag) {
        <div class="col">
          <button type="button">
            {{ tag }}
          </button>
        </div>
      }
    </div>
  </div>

  <div class="row">
    <div class="photoDescription col">
      <h2>{{ 'photo.description' | translate }}</h2>
      {{ photoResponse.description }}
    </div>
  </div>
</div>
